﻿@using Picking_Web.Models
@{
    ViewBag.Title = "CONFERÊNCIA";
    Layout = "~/Views/Shared/_Index.cshtml";
    string ControllerName = "codigobarras";
    int empresa = ViewBag.empresa;
    string userid = ViewBag.userid;
}



<div class="row col-12" style="width: 100%; margin-left: 20px;">
    <h2>@ViewBag.Title</h2>
    <div style="float:left;width:25%" class="col-md-3">

        <label for="data">Data</label>

        <input type="text" style="float: right; width: 100%; max-width: none" class="form-control" id="data" disabled="disabled">

    </div>

    <div style="float:left;width:25%" class="col-md-3">

        <label for="operador">Operador</label>

        <select style="float: right; width: 100%; max-width: none" class="form-control" id="operador">

            <option value="">Selecione o Operador</option>

            @{
                var operadores = ViewBag.Operadores as IOrderedEnumerable<ApplicationUser>;

                foreach (var operador in operadores)
                {
                    <option value="@operador.Id">@operador.UserName</option>
                }
            }

        </select>

    </div>

    <div style="float:left;width:25%" class="col-md-3">

        <label for="numdoc">Nº Documento</label>

        <input type="text" style="float: right; width: 100%; max-width: none" class="form-control" id="numdoc" disabled="disabled">

    </div>

    <div style="float:left;width:25%" class="col-md-3">

        <label for="quantidade">Quantidade</label>

        <input type="number" style="float: right; width: 100%; max-width: none" class="form-control" id="quantidade" value="1" disabled="disabled">

    </div>


    <div class="row col-12" style="width: 100%;">

        <div style="float:left;width:100%" class="col-md-12">

            <label for="codigo_barras">Código de Barras</label>

            <input type="text" style="float: right; width: 100%; max-width: none" class="form-control" id="codigo_barras" disabled="disabled">

        </div>

    </div>

    <div class="row">

        <table id="itens_pedido" class="table table-bordered table-condensed table-hover">

            <thead class="table-light">

                <tr style="text-align:center;">
                    <th>Item</th>
                    <th>Descrição</th>
                    <th>Depósito</th>
                    <th>Núm. de Série</th>
                    <th>Cód. Barras Fabricante</th>
                    <th id="lote">Núm. de Lote Interno</th>
                    <th>Line</th>
                    <th>Conferido</th>
                    <th>Solicitado</th>
                </tr>

            </thead>

            <tbody style="color:black;text-align:center">
            </tbody>

        </table>

    </div>

    <div class="row col-12 " style="width: 100%;margin-top: 30px;">

        <div style="float:left;width:33%" class="col-md-4">

            <button class="btn btn-success btn-block" type="submit" style="float: right; width: 100%; max-width: none" id="encerrar" data-loading-text="Aguarde...">Encerrar</button>

        </div>

        <div style="float:left;width:34%" class="col-md-4">

            <button class="btn btn-danger btn-block" type="submit" style="float: right; width: 100%; max-width: none" id="reset" data-loading-text="Aguarde..." data-toggle="tooltip" data-placement="top" title="Removerá conferência parcial se houver">Reset</button>

        </div>

        <div style="float:left;width:33%" class="col-md-4">

            <button class="btn btn-danger btn-block" type="submit" style="float: right; width: 100%; max-width: none" id="cancelar" data-loading-text="Aguarde...">Cancelar</button>

        </div>

    </div>
</div>
@Html.Partial("EncerramentoConferencia")
@section scripts
{
    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        var audio = new Audio('@Url.Action("", "error.wav")');
        InitWS("@userid");
    </script>
    <script id="script_conferencia_codigo_barras" src="~/Scripts/Site/ConferenciaCodigoBarras.js" data-empresa="@empresa" data-numdoc="@ViewBag.numdoc" data-operador="@ViewBag.operador"></script>
}