﻿@using Picking_Web.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Gestão de Etiquetas";
    Layout = "~/Views/Shared/_Etiquetas.cshtml";
    string ControllerName = "gestaoetiquetas";
    string userid = ViewBag.userid;
}

<!-- Start Content-->
<div class="container-fluid" style="margin-left:20px">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Dashboards</li>
                        <li class="breadcrumb-item active">Área Administrativa</li>
                        <li class="breadcrumb-item active">Gestão de Etiquetas</li>
                    </ol>
                </div>
                <br />
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-5">



                        </div>
                        <div class="col-sm-7">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#ModalEtiqueta">
                                    Nova Etiqueta
                                </button>
                            </div>
                        </div>
                        <!-- end col-->
                    </div>
                    <!-- Modal -->
                    @Html.Partial("FormGestaoEtiquetas")
                    <div>
                        <table id="gestao_etiquetas" class="table table-centered w-100 dt-responsive nowrap">
                            <thead class="table-light">
                                <tr style="text-align:center;">
                                    <th>Identificação</th>
                                    <th>Empresa</th>
                                    <th>Usuário</th>
                                    <th>Impressora</th>

                                    <th>Açoes</th>
                                </tr>
                            </thead>
                            <tbody style="color:black;text-align:center"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts
{
    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        var DefaultPath = '@(Url.Action("", "" + ControllerName))';
    </script>
    <script type="text/javascript">
        $(document).ready(function() {

            var table = $("#gestao_etiquetas").DataTable({
                ajax: {
                    url: DefaultApiPath + "/getgestaoetiquetas",
                    dataSrc: ""
                },
                language: {
                    paginate: {
                        previous: "Anterior",
                        next: "Próximo",
                        first: "Primeiro",
                        last: "Ultimo",


                    },


                    info: " Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    lengthMenu: 'Resultados por paginas <select class=\'form-select form-select-sm ms-1 me-1\'><option value="1">1</option><option value="5">5</option><option value="15">15</option><option value="-1">Todos</option></select>'
                    , search: "Buscar", searchPlaceholder: "Buscar por nome..."
                },

                pageLength: -1,
                columns: [
                    {
                        data: "id",
                        render: function (data, type, impressora) {
                            return "<a idEtiqueta='" + impressora.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "empresa.nome",
                    },
                    {
                        data: "user.userName"
                    },
                    {
                        data: "nomeImpressoraEtiqueta"
                    },
                  
                    {
                        data: "id",
                        render: function (data, type, empresa) {
                            return "<button data-gestao-id='" +
                                data +
                                "' type='button' class='btn btn-primary js-teste'><span class='mdi mdi-printer-check'></span >&nbsp;</button> <input type='submit' value='Editar' class='btn btn-primary edit' idEtiqueta='" + data + "'/> <button data-gestao-id='" +
                                data +
                                "' type='button' class='btn btn-danger js-delete'><span class='mdi mdi-trash-can-outline'></span >&nbsp;</button>";
                        }
                    }
                ],
                scrollX: !0,
                order: [[1, "asc"]],
                drawCallback: function () {
                    $(".dataTables_paginate > .pagination").addClass("pagination-rounded "),
                        $("#gestao_etiquetas").addClass("form-label"),
                        document.querySelector(".dataTables_wrapper .row").querySelectorAll(".col-md-6").forEach(function (e) {
                            e.classList.add("col-sm-6"),
                                e.classList.remove("col-sm-12"),
                                e.classList.remove("col-md-6")
                        })
                },
            });

            $("#gestao_etiquetas").on("click", ".js-delete", function() {

                var button = $(this);

                bootbox.confirm("Deseja deletar esta gestão de etiquetas?", function(result) {

                    if (result) {
                        $.ajax({
                            url: DefaultApiPath + "/deletargestaoetiquetas/" + button.attr("data-gestao-id"),
                            method: "DELETE",
                            success: function() {
                                table.row(button.parents("tr")).remove().draw();
                                toastr.success("Gestão de etiqueta deletada com sucesso.");
                            },
                            error: _DEFAULT_ERROR_TREATMENT
                        });
                    }
                });
            });

            $("#gestao_etiquetas").on("click", ".js-teste", function () {

                var button = $(this);

                bootbox.confirm("Deseja testar a impressão?", function (result) {

                    if (result) {
                        $.ajax({
                            url: DefaultApiPath + "/testarimpressao/" + button.attr("data-gestao-id"),
                            method: "PUT",
                            success: function () {
                                toastr.success("Impressão realizada com sucesso.");
                            },
                            error: _DEFAULT_ERROR_TREATMENT
                        });
                    }
                });
            });
        });

        $("#gestao_etiquetas").on("click", ".edit", function () {
            var id = $(this).attr("idEtiqueta");
            var dialog = bootbox.dialog({
                title: 'Editar Etiqueta',
                size: 'medio', closeButton: "",
                message: '<div id="editEtiqueta"><p><i class="fa fa-spin fa-spinner"></i> Aguarde... Isso pode levar ate 1min</p></div>',

            });
            if (id) {
                $.ajax({
                    url: "/GestaoEtiquetas/Editar?id=" + id,
                    method: "GET",
                    success: function (data) {


                        $('#editEtiqueta').html($(data).html());

                    },
                    error: _DEFAULT_ERROR_TREATMENT
                });
            } else {
                toastr.error("Erro ao Carregar Empresa", _DEFAULT_ERROR_TIMEOUT);
            }


        });


        InitWS("@userid");
    </script>
}
