﻿@using Picking_Web.Models
@using Picking_Web.ViewModels
@using Microsoft.AspNet.Identity
@model LoginViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Index.cshtml";
    string ControllerName = "Home";
    string userid = ViewBag.userid;
    int empresa = ViewBag.empresa;
}



<div class="container-fluid" style="margin-left:20px">

    <h2 style="margin-top:13px">@ViewBag.Title</h2>
    <div class="row col-12" style="width: 100%;margin-top: 5px;">

        <br />
        <br />
        @*<div class="page-title-box col-md-6" style=" width: 50%;">

                <h4 style="float: left; width: 100%; max-width: none" class="page-title">Bem Vindo Ao Picking Web Seu Sistema de Logistica</h4>

            </div>



            <div class="page-title-right  col-md-1" style="float: right; width: 10%;">



                <a href="javascript:_Reload();" class="btn btn-primary">

                    <i class="mdi mdi-autorenew"></i>

                </a>



            </div>*@

        @*<div id="lista_picking_docs_pendentes_filter" class=" col-md-5" role="search" style="float: left; width: 40%;">

                <div style="float: left; width: 80%">

                    <input style="float: left; width: 100%; max-width: none" type="text" class="form-control" placeholder="Pesquisar Pedido" id="campo_pesquisa">

                </div>
                <div style="float: left; width: 20%;">

                    <button type="submit" style="float: left; width: 100%; max-width: none" class="btn btn-primary" id="botao_pesquisa">OK</button>

                </div>

            </div>*@
    </div>

    <div class="row">

        <div class="row">


            <div class="col-xl-6 col-lg-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" data-bs-target="#nav-contact" style="box-shadow: 5px 7px 9px rgba(50, 50, 50, 0.77); ">
                            <div class="card-body" onclick="_SimularClickSeparacao()">

                                <h5 class="text-muted fw-normal mt-0" title="Numero de Sepração">Aguardando Separação</h5>
                                <h3 id="qtdseparacao" class="qtdseparacao">0</h3>
                                <p class="mb-0 text-muted">
                                    <i class="mdi mdi-account-multiple "></i>
                                    <span class="text-nowrap">Registros</span>
                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-sm-6">
                        <div class="card widget-flat" style="box-shadow: 5px 7px 9px rgba(50, 50, 50, 0.77); ">
                            <div class="card-body" onclick="_SimularClickSeparacao()">

                                <h5 class="text-muted fw-normal mt-0" title="Numero de Separação Futura">Separação Futura</h5>
                                <h3 id="qtdseparacaofutura" class="qtdseparacaofutura">0</h3>
                                <p class="mb-0 text-muted">
                                    <i class="mdi mdi-cart-plus"></i>
                                    @*<span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 1.08%</span>*@
                                    <span class="text-nowrap">Registros</span>
                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row -->
            </div> <!-- end col -->

            <div class="col-xl-6 col-lg-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card widget-flat " style="box-shadow: 5px 7px 9px rgba(50, 50, 50, 0.77); ">
                            <div class="card-body" onclick="_SimularClickSeparacao()">
                                <h5 class="text-muted fw-normal mt-0" title="Numero de Separação Pendente">Separação Pendente</h5>
                                <h3 id="qtdseparacaopendente" class="qtdseparacaopendente">0</h3>
                                <p class="mb-0 text-muted">
                                    <i class="mdi mdi-currency-usd "></i>
                                    @*<span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 7.00%</span>*@
                                    <span class="text-nowrap">Registros</span>
                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-sm-6">
                        <div class="card widget-flat" style="box-shadow: 5px 7px 9px rgba(50, 50, 50, 0.77); ">
                            <div class="card-body" onclick="_SimularClickSeparacao()">
                                <h5 class="text-muted fw-normal mt-0" title="Growth">Ordens e Produções</h5>
                                <h3 id="qtdordenproducao" class="qtdordenproducao">0</h3>
                                <p class="mb-0 text-muted">
                                    <i class="mdi mdi-pulse"></i>
                                    @*<span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 4.87%</span>*@
                                    <span class="text-nowrap">Registros</span>
                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row -->
            </div> <!-- end col -->
        </div>


        <!-- end row -->
    </div>
    <!-- end row -->

    <div class="row" style="width: 100%;">
        <div class="col-xl-7 col-lg-6" style="float:left;width:50%">
            <div class="card" style="box-shadow: 5px 7px 9px rgba(50, 50, 50, 0.77); ">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                    <h4 class="header-title mb-3">Quantidade de Registros</h4>

                    <div dir="ltr">
                        <div id="high-performing-product" class="apex-charts" data-colors="#727cf5,#e3eaef"></div>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col -->
        <div class="col-lg-8" style="float:left;width:50%">
            <div class="card" style="box-shadow: 5px 7px 9px rgba(50, 50, 50, 0.77); ">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                    </div>
                    <h4 class="header-title mb-3">Crecimento Total</h4>

                    <div class="chart-content-bg">
                        <div class="row text-center">
                            <div class="col-sm-6">
                                <p class="text-muted mb-0 mt-3">Mes Anterior</p>
                                <h2 class="fw-normal mb-3">
                                    <small class="mdi mdi-checkbox-blank-circle text-primary align-middle me-1"></small>
                                    <span></span>
                                </h2>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-muted mb-0 mt-3">Mes Atual</p>
                                <h2 class="fw-normal mb-3">
                                    <small class="mdi mdi-checkbox-blank-circle text-success align-middle me-1"></small>
                                    <span></span>
                                </h2>
                            </div>
                        </div>
                    </div>


                    <div dir="ltr">
                        <div id="revenue-chart" class="apex-charts mt-3" data-colors="#727cf5,#0acf97"></div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
</div>
<!-- container -->
<!-- content -->
<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> © Update Solution - www.ramosistemas.com/belohorizonte
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="https://www.ramobelohorizonte.com/">Sobre</a>
                    <a href="https://ramobh.movidesk.com/Account/Login?ReturnUrl=%2f">Suporte</a>
                    <a href="https://www.ramobelohorizonte.com/">Contacte nos</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->

@section scripts
        {


    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        var audio = new Audio('@Url.Action("", "error.wav")');
        InitWS("@userid");
    </script>
    <script id="script_lista_picking" src="~/Scripts/Site/ListaPicking.js" data-empresa="@empresa"></script>

}
