﻿@model Picking_Web.Models.RegisterViewModel
@{
    string userid = ViewBag.userid;
    Layout = null;

}
<div class="modal fade" id="ModalRegister" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaLLabel">Nova Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        <div class="row col-12">

                            <div class="card col-md-12" style="background-color: #eef2f7; border: solid 1px; border-radius: 4px; border-color: gray; width: 100% ;margin-left:10px">
                                <div class="card-header" style="background-color:#eef2f7 ">
                                    <H6 style="color: black; text-align: center">Permissões</H6>
                                </div>
                                <div class="card-body">
                                    <div class="row col-12" style="width: 100%;">
                                        <div class="col-md-12" style="float: left; width: 100%">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.Licenciado, new { @required = "required" }) Licenciado
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="float: left; width: 100%">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.Ativo, new { @required = "required" }) Ativo
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="float: left; width: 100%">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.Operador) Operador
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="float: left; width: 100%">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.PodeGerenciarAdmin) Pode acessar Área Administrativa
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="float: left; width: 100%">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.PodeGerenciarListaPicking) Pode realizar Separação
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="float: left; width: 100%">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.PodeConferirCodigoBarras) Pode realizar Conferência
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="float: left; width: 100%">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.PodeGerenciarEtiqueta) Pode gerenciar Embalagens
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="float: left; width: 100%">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.PodeGerenciarRecebimento) Pode realizar Recebimento
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="float: left; width: 100%">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.PodeGerenciarBaixa) Pode Gerenciar Baixa
                                                </label>
                                            </div>
                                        </div>
                                        @*<div class="checkbox">
                                                  <label>
                                                      @Html.CheckBoxFor(m => m.PodeGerenciarDocumentos) Pode Gerenciar Documentos
                                                  </label>
                                            </div>*@

                                    </div>
                                </div>
                            </div>
                            <div style="width:1%"></div>
                            <div class="card col-md-12" style="background-color: #eef2f7; border: solid 1px; border-radius: 4px; border-color: gray; width: 100%; margin-left: 10px ">
                                <div class="card-header" style="background-color:#eef2f7 ">
                                    <H6 style="color: black; text-align: center">Dados Gerais</H6>
                                </div>
                                <div class="card-body">
                                    <div class="row col-12" style="width: 100%;">
                                        <div class="col-md-6" style="float: left; width: 50%">
                                            @Html.LabelFor(model => model.QuantidadeLicencas, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.QuantidadeLicencas, new { htmlAttributes = new { @class = "form-control ", @style = "width:100%;max-width:none;", disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.QuantidadeLicencas, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6" style="float: left; width: 50%">
                                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @style = "width:100%;max-width:none;", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6" style="float:left;width:50%">
                                            @Html.LabelFor(model => model.EmpresaId, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(m => m.EmpresaId, new SelectList(Model.Empresas, "Id", "Nome"), "Selecione a Empresa", new { @class = "form-control", @style = "width:100%;max-width:none;", id = "select_empresa", onchange = "CarregarUsuarios();", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.EmpresaId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6" style="float:left;width:50%">
                                            @Html.LabelFor(model => model.UsuariosSAPId, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(m => m.UsuariosSAPId, new SelectList(Model.UsuariosSAP, "Id", "Nome"), "Selecione o Usuário SAP", new { @class = "form-control", @style = "width:100%;max-width:none;", id = "select_usuario", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.UsuariosSAPId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6" style="float: left; width: 50%">
                                            @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label " })
                                            @if (String.IsNullOrEmpty(Model.Id))
                                            {
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "width:100%;max-width:none;", @required = "required" })
                                            }
                                            else
                                            {
                                                <input type="password" class="form-control" data-toggle="tooltip" data-trigger="click" data-placement="right" title="Opicional em caso de edição." />
                                            }
                                        </div>
                                        <div class="col-md-6" style="float: left; width: 50%">
                                            @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                                            @if (String.IsNullOrEmpty(Model.Id))
                                            {
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "width:100%;max-width:none;", @required = "required" })
                                            }
                                            else
                                            {
                                                <input type="password" class="form-control" data-toggle="tooltip" data-trigger="click" data-placement="right" title="Opicional em caso de edição." />
                                            }
                                        </div>
                                        <div class="col-md-6" style="float: left; width: 50%">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "width:100%;max-width:none;", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <hr />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr />
                        <div class="row col-12" style="width:100%">
                            <div class="col-md-6" style="width:50%">
                                <input type="submit" style="float:left;width:100%;max-width:none" value="Salvar" class="btn btn-primary" />
                            </div>
                            <div class="col-md-6" style="width:50%">
                                <button type="button" style="float: left; width: 100%; max-width: none" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                            </div>

                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</div>


















