﻿@using Picking_Web.Models
@{
    ViewBag.Title = "RECEBIMENTO";
    Layout = "~/Views/Shared/_Recebimento.cshtml";
    string ControllerName = "recebimento";
    int empresa = ViewBag.empresa;
    string userid = ViewBag.userid;
}
<div class="container-fluid" style="color: black;margin-left:20px">
    <h2>@ViewBag.Title</h2>

    <div class="row col-12" style=" width: 100%; margin-top: 30px;">
        <div style="float:left;width:25%" class="col-md-3">
            <label for="numnota">Número do Recebimento</label>
            <input style="float: left; width: 100%; max-width: none" type="text" class="form-control" id="numnota">
        </div>

        <div style="float:left;width:25%" class="col-md-3">
            <label for="itemcode">Código Item</label>
            <select style="float: left; width: 100%; max-width: none" class="form-control" id="itemcode">
                <option value="">Selecione o Item</option>
                @{
                    var itens = ViewBag.Itens as List<ItemSAP>;
                    foreach (var item in itens)
                    {
                        <option class="" value="@item.ItemCode">@item.ItemCode - @item.ItemName</option>
                    }
                }
            </select>
        </div>

        <div style="float:left;width:25%" class="col-md-3">
            <label for="numlote">Lote Interno</label>
            <select style="float: left; width: 100%; max-width: none" class="form-control" id="numlote" style="max-width: none">
                <option value="">Selecione o Lote</option>
            </select>
        </div>

        <div style="float:left;width:25%" class="col-md-3">
            <label for="codbarras">Cod. Barras Fabricante</label>
            <input style="float: left; width: 100%; max-width: none" type="text" class="form-control" id="codbarras">
        </div>

    </div>

    <hr />

    <div class="row">
        <table id="itens_recebimento" style="width:100%" class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class="table-light">
                    <th>Marcar</th>
                    <th>Item</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Und Medida</th>
                    <th>Lote</th>
                    <th>Cod. Barras</th>
                    <th>Vencimento</th>
                    <th>Armazenagem</th>
                    <th>Depósito</th>
                    <!--<th>Remover</th>-->
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div style=" width: 100%; margin-top: 30px; " class="row col-12">
        <div style="float:left;width:33%" class="col-md-4">
            <button class="btn btn-primary btn-block" style="float: left; width: 100%; max-width: none" type="submit" id="imprimir" data-loading-text="Aguarde...">Imprimir</button>
        </div>
        <div style="float:left;width:34%" class="col-md-4">
            <button class="btn btn-warning btn-block" style="float: left; width: 100%; max-width: none" type="submit" id="reset" data-loading-text="Aguarde..." data-toggle="tooltip" data-placement="top" title="Reseta apenas os itens">Reset</button>
        </div>
        <div style="float:left;width:33%" class="col-md-4">
            <button class="btn btn-danger btn-block" style="float: left; width: 100%; max-width: none" type="submit" id="cancelar" data-loading-text="Aguarde..." data-toggle="tooltip" data-placement="top" title="Reseta toda a tela">Cancelar</button>
        </div>
    </div>

    <input type="hidden" value="@ViewBag.NomeImpressoraAmbiente" id="nome_impressora_ambiente" />
    <input type="hidden" value="@ViewBag.NomeImpressoraGeladeira" id="nome_impressora_geladeira" />
    </div>
    @section scripts
{
        <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        InitWS("@userid");
        </script>
        <script id="script_recebimentos" src="~/Scripts/Site/Recebimento.js" data-empresa="@empresa"></script>
    }
