﻿@using Picking_Web.Models
@{
    ViewBag.Title = "Baixa";
    Layout = "~/Views/Shared/_Index.cshtml";
    string ControllerName = "baixa";
    int empresa = ViewBag.empresa;
    string userid = ViewBag.userid;
}
<div class="container-fluid" style="margin-left:15px">



    <h2>@ViewBag.Title</h2>

    <div class="row col-12" style=" width: 100%; margin-top:30px;">

        <div style="float:left;width:50%" class="col-md-6">

            <label for="CodPn">Código Parceiro de Negócio</label>

            <input style="float: left; width: 100%; max-width: none" type="text" class="form-control" id="CodPn">

        </div>

        <div style="float:left;width:50%" class="col-md-6">

            <label for="itemcode">Código Item</label>

            <input style="float: left; width: 100%; max-width: none" type="text" class="form-control" id="itemcodeLote" disabled="disabled">

        </div>

    </div>

    <div class="row" style="margin-top: 50px; margin-left: 0px; margin-right: 0px;">

        <table id="itens_Baixa" class="table table-bordered table-condensed table-hover ">

            <thead class=" table-light">

                <tr style="text-align:center;">
                    <th>Marcar</th>
                    <th>Item</th>
                    <th>Descrição</th>
                    <th>Depósito</th>
                    <th>Lote</th>
                </tr>

            </thead>

            <tbody style="color:black;text-align:center">
            </tbody>
        </table>

    </div>

    <div class="row col-12" style=" width: 100%; margin-top: 30px;">

        <div style="float:left;width:33%" class="col-md-4">

            <button class="btn btn-primary btn-block" style="float: left; width: 100%; max-width: none" type="submit" id="GoBaixa" data-loading-text="Aguarde...">Efetuar Baixa</button>

        </div>

        <div style="float:left;width:34%" class="col-md-4">

            <button class="btn btn-warning btn-block" style="float: left; width: 100%; max-width: none" type="submit" id="reset" data-loading-text="Aguarde..." data-toggle="tooltip" data-placement="top" title="Reseta apenas os itens">Reset</button>

        </div>

        <div style="float:left;width:33%" class="col-md-4">

            <button class="btn btn-danger btn-block" style="float: left; width: 100%; max-width: none" type="submit" id="cancelar" data-loading-text="Aguarde..." data-toggle="tooltip" data-placement="top" title="Reseta toda a tela">Cancelar</button>

        </div>

    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        var audio = new Audio('@Url.Action("", "error.wav")');
        InitWS("@userid");
    </script>
    <script id="script_baixa" src="~/Scripts/Site/Baixa.js" data-empresa="@empresa"></script>
}