﻿<!DOCTYPE html>
<html>
@using Picking_Web.Models
@using Picking_Web.ViewModels
@using Microsoft.AspNet.Identity
@model RegisterViewModel
@{
    string pode_ver_licenca = User.Identity.GetUserId() == Privilegios.AdminUserID ? "" : "display:none;";
    string pode_ver_lista_picking = User.IsInRole(Privilegios.PodeGerenciarListaPicking) ? "" : "display:none;";
    string pode_ver_conferencia = User.IsInRole(Privilegios.PodeConferirCodigoBarras) ? "" : "display:none;";
    string pode_ver_embalagens = User.IsInRole(Privilegios.PodeGerenciarEtiqueta) ? "" : "display:none;";
    int ocultaengrenagem = 99999999;
}
<head>
    <meta charset="utf-8" />

    <title>Picking Web Ramo Bh</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta content="Sistema Logico Pincking Web" name="description" />

    <link rel="shortcut icon" href="https://s3.amazonaws.com/movidesk-files/B598E01A3C7267C2A987246455C30A8C" height="12" style="width:10px">

    <link href="~/Content/bootstrap/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/bootstrap/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/bootstrap/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />

    <link href="~/Content/bootstrap/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

    <link href="~/Content/bootstrap/assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />


    <link href="~/Content/bootstrap/assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~Scripts/toastr.js")

</head>
<body class="loading" style="zoom: 70%; background-color: #edf2f9; " onload="countPendente()" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart":false}'>

    <div class="wrapper">

        <div class="leftside-menu" style="zoom: 110%">

            <a href="" class="logo text-center logo-light">

                <span class="logo-lg">

                    <img src="~/Imagens/sap_logo.png" height="40">

                </span>

                <span class="logo-sm">

                    <img src="~/Imagens/sap_logo.png" alt="" height="20">

                </span>

            </a>

            <a href="" class="logo text-center logo-dark">

                <span class="logo-lg">

                    <img src="~/Imagens/sap_logo.png" alt="" height="20">

                </span>

                <span class="logo-sm">

                    <img src="~/Imagens/sap_logo.png" alt="" height="30">

                </span>

            </a>

            <div class="h-100" id="leftside-menu-container" data-simplebar>

                <ul class="side-nav">

                    <li class="side-nav-item">

                        <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">

                            <i> <img src="~/Imagens/recebimento.png" height="20" /></i>

                            <span>Modulos</span>

                        </a>

                        <div class="collapse" id="sidebarDashboards">

                            <ul class="side-nav-second-level">

                                <li>  @Html.ActionLink("Dashboards", "Index", "Home") </li>

                                <li style="@pode_ver_lista_picking"> @Html.ActionLink("Separação", "Index", "Picking")</li>

                                <li style="@pode_ver_conferencia">@Html.ActionLink("Conferência", "Index", "CodigoBarras")</li>

                                <li style="@pode_ver_embalagens">@Html.ActionLink("Embalagem", "Index", "Etiquetas")</li>

                                <li>@Html.ActionLink("Acompanhamento Picking", "Acompanhamento", "Picking")</li>

                                <li>@Html.ActionLink("Etiquetas de Recebimento", "Index", "Recebimento")</li>

                                <li>@Html.ActionLink("Reimpressão de Etiquetas", "Reimpressao", "Recebimento")</li>

                                <li>@Html.ActionLink("Baixa", "Index", "Baixa")</li>

                            </ul>

                        </div>

                    </li>

                </ul>

                <ul class="side-nav">

                    <li class="side-nav-item">

                        <a data-bs-toggle="collapse" href="#sidebarAdministrativa" aria-expanded="false" aria-controls="sidebarAdministrativa" class="side-nav-link">

                            <i> <img src="~/Imagens/admin.png" height="20" /></i>

                            <span>Configuração</span>

                        </a>

                        <div class="collapse" id="sidebarAdministrativa">

                            <ul class="side-nav-second-level">

                                <li>@Html.ActionLink("Usuários", "Index", "Usuarios")</li>

                                <li>@Html.ActionLink("Empresas", "Index", "Empresas")</li>

                                <li>@Html.ActionLink("Gestao de Impressões", "Index", "GestaoImpressoes")</li>

                                <li>@Html.ActionLink("Gestao de Etiquetas", "Index", "GestaoEtiquetas")</li>

                                <li style="@pode_ver_licenca">@Html.ActionLink("Licença", "Index", "Licenca")</li>

                            </ul>

                        </div>

                    </li>

                </ul>

            </div>

        </div>

        <div class="content-page">

            <div class="content">

                <div class="navbar-custom" style="zoom: 110%;">

                    <ul class="list-unstyled topbar-menu float-end mb-0">

                        <li class="dropdown notification-list">

                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">

                                <i class="dripicons-bell noti-icon"></i>

                                <span class="noti-icon-badge"></span>

                            </a>

                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg">

                                <div class="dropdown-item noti-title">

                                    <h5 class="m-0">

                                        <span class="float-end">

                                            <a href="javascript: void(0);" class="text-dark">

                                                <small>Limpa Tudo</small>

                                            </a>

                                        </span>Notifição

                                    </h5>

                                </div>

                                <div style="max-height: 230px;" data-simplebar>

                                </div>

                            </div>

                        </li>

                        @if (ocultaengrenagem == 67)
                        {
                            <li class="notification-list">

                                <a class="nav-link end-bar-toggle" href="javascript: void(0);">

                                    <i class="dripicons-gear noti-icon"></i>

                                </a>

                            </li>
                        }

                        <li class="dropdown notification-list">

                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">

                                <span class="account-user-avatar">

                                    <img src="~/Content/bootstrap/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">

                                </span>

                                <span>

                                    <span class="account-user-name">@Html.Label(User.Identity.Name)</span>

                                </span>

                            </a>

                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">

                                <div class=" dropdown-header noti-title">

                                    <h6 class="text-overflow m-0" style="color: black">Bem vindo !</h6>

                                </div>

                                <div class="dropdown-item notify-item mdi mdi-account-edit me-1">

                                    <a>

                                        @*@Html.ActionLink("Configuração", "Index", "Manage", new { style = "color:black;text-decoration:none" })*@
                                        @Html.ActionLink("Configuração", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Gerenciar", @style = "color:black;text-decoration:none" })

                                    </a>

                                </div>

                                <a href="https://ramobh.movidesk.com/Account/Login?ReturnUrl=%2f" class="dropdown-item notify-item">

                                    <i class="mdi mdi-lifebuoy me-1"></i>

                                    <span style="color: black">Suporte</span>

                                </a>

                                <a onclick="toggleFullScreen();" class="dropdown-item notify-item">

                                    <i class="mdi mdi-arrow-expand-all me-1"></i>

                                    <span style="color: black">Expandir Tela</span>

                                </a>

                                <a href="javascript:_SairdoSistema();" class="dropdown-item notify-item">

                                    <i class="mdi mdi-logout me-1"></i>

                                    <span style="color: black">Sair</span>

                                </a>

                            </div>

                        </li>

                    </ul>

                    <button class="button-menu-mobile open-left">

                        <i class="mdi mdi-menu"></i>

                    </button>

                </div>

                @RenderBody()

            </div>

        </div>

    </div>

    <script type="text/javascript">
        var DefaultScriptPath = '@Url.Action("","Scripts")';
    </script>

    @Scripts.Render("~/bundles/lib")

    @RenderSection("scripts", required: false)

</body>
</html>