﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewBag.Title - Sistema Logístico</title>*@
    <title>Picking Web Ramo Bh</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="https://s3.amazonaws.com/movidesk-files/B598E01A3C7267C2A987246455C30A8C" height="12" style="width:10px">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/DataTables/css/style.css" />
</head>



<body class="img js-fullheight"  style="background-image: url(../../Imagens/bg.jpg);">
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        <footer>
            <p style="color:whitesmoke">&copy; @DateTime.Now.Year - Update Solution</p>
        </footer>
    </div>
    <script type="text/javascript">
        var DefaultScriptPath = '@Url.Action("","Scripts")';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
