﻿@using Picking_Web.Models
@{
    ViewBag.Title = "EMBALAGEM";
    Layout = "~/Views/Shared/_Index.cshtml";
    string ControllerName = "etiquetas";
    int empresa = ViewBag.empresa;

    string ip = ViewBag.IP;
    string porta = ViewBag.Porta;
    string dados_balanca_ok = ViewBag.DadosBalancaOK ? "display:none" : "";
    string userid = ViewBag.userid;
}
<div class="container-fluid" style="margin-left: 20px">
    <h2>@ViewBag.Title</h2>

    <div class="alert alert-danger alert-dismissible" role="alert" style="@dados_balanca_ok margin-left:20px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Não será possível buscar dados da Balança!</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dados de conexão com a balança não foram configurados corretamente.
    </div>

    <div class="row col-12" style="width:100%; margin-top:30px;">
        <div class="col-md-3" style="float:left;width:25%">
            <label for="operador">Operador</label>
            <select style="float: left; width: 100%; max-width: none" class="form-control" id="operador">
                <option value="">Selecione o Operador</option>
                @{
                    var operadores = ViewBag.Operadores as IOrderedEnumerable<ApplicationUser>;
                    foreach (var operador in operadores)
                    {
                        <option value="@operador.Id">@operador.UserName</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-3" style="float:left;width:25%">
            <label for="numdoc">Lista Picking</label>
            <input style="float: left; width: 100%; max-width: none" type="text" class="form-control" id="numdoc" disabled="disabled">
        </div>
        <div class="col-md-3" style="float:left;width:25%">
            <label for="docped">Pedido de Venda</label>
            <input style="float: left; width: 100%; max-width: none" type="text" class="form-control" id="docped" disabled="disabled">
        </div>
        <div class="col-md-3" style="float:left;width:25%">
            <label for="parceiro">Parceiro de Negócios</label>
            <input style="float: left; width: 100%; max-width: none" type="text" class="form-control" id="parceiro" disabled="disabled">
        </div>
    </div>

    <div class="row col-9" style="width:100%; margin-top:15px;">
        <div class="col-md-3" style="float:left;width:33%">
            <label for="endereco">Endereço</label>
            <input style="float: left; width: 100%; max-width: none" type="text" class="form-control" id="endereco" disabled="disabled">
        </div>
        <div class="col-md-3" style="float:left;width:34%">
            <label for="transportadora">Transportadora</label>
            <select style="float: left; width: 100%; max-width: none" class="form-control" id="transportadora" disabled="disabled">
                <option value="">Selecione o Transportador</option>
            </select>
        </div>

        <div class="col-md-3" style="float:left;width:33%">
            <label for="peso">Peso</label> <input style="float: left; width: 100%; max-width: none" type="number" min="0" class="form-control" id="peso" disabled="disabled">
        </div>
    </div>
    <div class="row col-3" style="width:100%; margin-top:15px;">
        <div class="row col-md-1" style="margin-left: 0px; margin-right: 0px;">
            <textarea id="observacoes" class="form-control" rows="2" placeholder="Observações" style="width:400px;max-width:none;" disabled="disabled"></textarea>
        </div>
    </div>
    <div class="row" style="margin-top: 20px; margin-left: 0px; margin-right: 0px;">
        <table id="volumes" class="table table-bordered table-condensed table-hover">
            <thead class="table-light">
                <tr style="color:black;text-align:center">
                    <th>Volume</th>
                    <th>Peso</th>
                    <th>Reimprimir</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody style="color:black;text-align:center">
            </tbody>
        </table>
    </div>

    <div class="row col-12" style="margin-top: 30px;">
        <div class="col-md-3" style="float:left;width:25%">
            <button class="btn btn-success btn-block" style="float: left; width: 100%; max-width: none" type="submit" id="encerrar" data-loading-text="Aguarde...">Encerrar</button>
        </div>
        <div class="col-md-3" style="float:left;width:25%">
            <button class="btn btn-primary btn-block" style="float: left; width: 100%; max-width: none" type="submit" id="imprimir" data-loading-text="Aguarde...">Reimprimir</button>
        </div>
        <div class="col-md-3" style="float:left;width:25%">
            <button class="btn btn-warning btn-block" style="float: left; width: 100%; max-width: none" type="submit" id="reset" data-loading-text="Aguarde..." data-toggle="tooltip" data-placement="top" title="Reseta o Pedido possibilitando encerrar novamente">Reset</button>
        </div>
        <div class="col-md-3" style="float:left;width:25%">
            <button class="btn btn-danger btn-block" style="float: left; width: 100%; max-width: none" type="submit" id="cancelar" data-loading-text="Aguarde..." data-toggle="tooltip" data-placement="top" title="Reseta toda a tela">Cancelar</button>
        </div>
    </div>
    <input type="hidden" value="@ViewBag.NomeImpressora" id="nome_impressora" />
</div>
@section scripts
{
    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        InitWS("@userid");
    </script>
    <script id="script_etiquetas" src="~/Scripts/Site/Etiquetas.js" data-empresa="@empresa" data-ip="@ip" data-porta="@porta"></script>
}

